*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}

body{
    background-color: black;
}

form{
    background-color: sandybrown;
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
}

fieldset{
    border: none;
    margin-bottom: 10px;
}
fieldset:last-of-type{
    margin-bottom: 0;
}

form legend{
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 10px;
    
   
}
form fieldset fieldset legend{
    font-weight: normal;
    font-size: 13px;
    padding-bottom: 0;

}
form ol li{
    line-height: 30px;
    border-radius: 5px;
    list-style-type: none;
background-color: skyblue;
padding: 5px 10px;
margin-bottom: 2px;
border: 2px solid white;

}

input{
    height: 20px;
}

.card{
    display: flex;
    justify-content: space-evenly;}

    .card{
        background-color: sandybrown;
    }

   .visa{
    background-color: white;
    color: skyblue;
    font-weight: bolder;
    font-size: larger;
    border: 5px solid red;
   }
    
.amex{
    color: white;
    border: 5px solid white;
}

    .mastercard{
        color: red;
        background-color: yellow;
        border: 5px solid red;
    }

    button{
        margin-left: 135px;
        padding: 10px;
        border: 5px;
        border-radius: 20px;
        width: 100px;
        background-color: orangered;

    }

    button:hover{
        background-color: skyblue;
        box-shadow:5px 5px 5px orangered
    }
label{
    display: block;
}

input{
    margin: auto;
}