*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

     /* input[type="checkbox"]  {
        display: none;
      }

      label{
        display: block;
        width: 100%;
        padding: 15px;
        border: 1px solid #0076ff;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow:10px 0 5px 5px rgb(0, 0, 0, 0.2)
      }

      label>span{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #0076ff;
        border-radius: 50%;
        margin-right: 30px;
      }

      input[type="checkbox"]:checked + label{
        background: rgb(23, 52, 89);
        color: white;}

    input[type="checkbox"]:checked+label>span{
        background: #0076ff;
    }*/
    /*
body{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-auto-rows: 50px auto 50px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd hd"
  "mn mn mn mn mn mn mn sb sb"
  "ft ft ft ft ft ft ft ft ft";
  column-gap: 5px;
  height: 100%;
}


.el{
  background-color: blueviolet;
  color: white;
  display: grid;
  place-content: center;

}

.header{
  grid-area: hd;
}

.sidebar{
  grid-area: sb;
  background-color: green;
}

.footer{
  grid-area: ft;
}

    .box{
      background-color: black;
      color: white;
      font-size: 2rem;
      padding: 0.5rem;
    }

    .container{
      min-height: 400px;
      display: grid;
      grid-template-columns: repeat(2,1fr 2fr);
      grid-auto-rows: minmax(150px auto);
    row-gap: 5px;
    column-gap: 20px;
    grid-area: mn;

    }

    .box:first-child{
      background-color: blue;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;

    }

    .box:nth-child(2){
      background-color: purple;
      grid-column: 1/5;
      grid-row: 3/4;
    }*/
  

    
  /*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  
  body{
    font-family: "lato", sans-serif;
    color: #333;
    line-height: 1.6;
  }
  ul{
    list-style-type: none;

  }
a{
  text-decoration: none;
  color: #333;

}
h1,h2{
  font-weight: 300;
  line-height: 1.2;
  margin :10px 0;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}

.navbar{
  background-color: #047aed;
  color: white;
  height: 40px;
  font-size: x-small;
  overflow: visible;
}


.container{
 max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  
}

.flex{
  display: flex;
  justify-content:space-between;
  align-items:center ;
  height: 100%;
  flex-wrap: wrap;

}

 

.navbar ul{
  display: flex;
  overflow: visible;
}

.navbar a{
  color: white;
  padding: 0 10px;
  margin: 0 5px;
  overflow: visible;
}

.navbar a:hover{
  border-bottom: 2px solid white;
}
 
.showcase{
  height: 400px;
  background-color: #047aed; 
  color: white;
  position: relative;

}

.stats{
  padding-top: 100px;
}

.showcase h1{
  font-size: 40px;
}
.showcase p{
  margin: 20px 0;
}

.grid{
  display:grid;
  grid-template-columns: 55% 45%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: visible;

}
.card{
  border-radius: 10px;
  box-shadow: 5px 3px 10px black;
  padding: 20px;
  margin: 10px;
  color: #333;
  background-image: url(s.jpg);

}

.showcase-form{
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}

.form-control{
  margin: 30px 0;}


.showcase-form input[type='text']{
  border:none;
  border-bottom: 1px solid #b4bbcb;
  font-size: 16px;
  padding: 3px;
  width: 100%;
  
}

.showcase-form input{
  outline: none;
}

.showcase-form input:focus{
  outline: none;
}
.btn{
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #047aed;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-outline{
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.btn:hover{
  transform: scale(0.98);
}

.card h2{
  color: white;
  font-weight: 400;
  background-color: #047aed;
  padding: 5px;
  text-align: center;
  display: inline-block;
  width: 150px;
  border-radius: 10px;
  margin-top: -30px;

}
.grid-3{
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

.text-center{
  text-align: center;
}

/*margin
.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}
.my-4{
  margin: 3rem 0;
}


.my-5{
  margin: 4rem 0;
}

.m-1{
margin: 1rem ;
}

.m-2{
  margin: 1.5rem ;
}

.m-3{
  margin: 2rem ;
}
.m-4{
  margin: 3rem ;
}
.m-5{
  margin: 4rem;
}

/*padding
.py-1{
padding: 1rem 0;
}

.py-2{
padding: 1.5rem 0;
}

.py-3{
padding: 2rem 0;
}
.py-4{
padding: 3rem 0;
}
.py-5{
  padding: 4rem;
}
.p-1{
padding: 1rem ;
}

.p-2{
padding: 1.5rem ;
}

.p-3{
padding: 2rem 0;
}
.p-4{
padding: 3rem 0;
}
.p-5{
  padding: 4rem;
}


.stats-heading{
  margin: auto;
  max-width: 500px;
}

.stats.grid h3{
  font-size: 35px;
}

.stats.grid p{
  font-size: 20px;
  font-weighT: bold;
}

.cards{
height: fit-content;
width: fit-content;
align-items: center;
padding: 10px ;
margin:10px ;
}

.container-grid{
display: grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows: repeat(1,1fr);
gap:5px;
width: 100%;
align-items: center ;
box-shadow: 5px 3px 10px #047aed;
border-radius: 10px;
min-width:fit-content;
border-radius: 10px;
height: fit-content;
}
.container-grid:first-child{
  grid-column: 1/2;
  grid-row: 1/2
}
.image{
  width: 500px;
  height: auto;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 10px;
}

.image:hover{
  width: 700px;
  height: auto;
}
.ht3{
  margin: 10px;
background-color: #047aed;
border: 10px;
border-radius: 5px;
padding: 10px;
color: white;
}

.ht2{
  margin: 30px;
background-color: #047aed;
padding: 10px;
border-radius: 5px;
color: white;
}

.tutorial{
  display: flex;
  flex-direction: row-reverse;
margin: 30px;
justify-content: left;
color: black;
border-radius: 10px;
box-shadow: 5px 3px 10px #047aed;
color: white;
background-color: #047aed;
width: auto;
}
.tutorial span{
  color: red;
  font-size: x-large;
  font-weight: bold;

}
.tutorial iframe{
  width: 100%;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
}
.bg-primary,
.btn-primary{
  background-color: #047aed;
  color: white;
}
.bg-secondary,
.btn-secondary{
  background-color: #1c3fa8;
  color: white;
}

.bg-dark,
.btn-dark{
  background-color: #002240;
  color: white;}

  .bg-light,
  .btn-light{
    background-color: #f4f4f4;
    color: #333;
  }
  .lead{
    font-size: 20px;
  }
  .sm{
    font-size: 2rem;
  }
  .md{
    font-size: 2rem;
  }
  .lg{
    font-size: 3rem;
  }
  .xl{
    font-size: 4rem;
  }

.clouds{
  grid-template-columns: 4fr,3fr;
text-align: center;
}

.pic{
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages.flex{
  flex-wrap: wrap;
}

.pic h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.pic:hover{
  transform: translate(-15px);
}

.bg-secondary a,
.bg-primary a,
.bg-secondary a,
.bg-dark a,
.bg-light a{
  color: white;
}

.footer a{
  margin: 0 10px;
}*/

