*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
margin: 40px;
text-align: center;
background-color: black;


}

nav
{border: 2px solid rgb(24, 117, 117);
 border-radius: 2rem;   
margin: 20px 200px;
line-height: 40px;
}

h2{color: whitesmoke;
background-color: rgb(24, 117, 117);
font-weight: bolder;
padding: 20px;
border-radius: 2rem 2rem 0 0;
}

ul{
    list-style-type: none ;
    background-color: lightgray;
    border-radius: 0 0 2rem 2rem;
}

li
{border: 1px solid rgb(24, 117, 117);
font-size: larger;

}

li a{
display: block;
}

  li a,
li a:visited{
    text-decoration: none;

    color:black;
    
}

a:hover,a:focus{

    color:burlywood;
    background-color: black;
}
li:last-child{
    border-radius: 0 0 2rem 2rem;
}
